html,
body {
  display: flex;
  flex: 1;
  min-height: 100vh;
  margin: 0px;
  
  background-color: black;
  color: white;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}